stages:
  - build
  - test

build:
  stage: build
  image: node:20.18.1
  before_script:
    - yarn install --frozen-lockfile
  script:
    - yarn build
  artifacts:
    paths:
      - dist/

build-docker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "$CI_COMMIT_SHA" > COMMIT_HASH
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH --cache=true --cache-ttl=120h
  only:
    - branches

e2e_test:
  stage: test
  image: node:20.18.1
  variables:
    POSTGRES_DB: db
    POSTGRES_USER: user
    POSTGRES_PASSWORD: pass
    PGPASSWORD: ${POSTGRES_PASSWORD}
  services:
    - name: postgres:17
      alias: postgres
  before_script:
    - yarn install --frozen-lockfile
    - apt update && apt install -y postgresql-common
    - YES=1 /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh
    - apt -y install postgresql-client-17
    - curl -o test/e2e_tests/db/db_btc_testnet https://githubstatic.flare.center/db_btc_testnet 
    - curl -o test/e2e_tests/db/db_btc2_testnet https://githubstatic.flare.center/db_btc2_testnet 
    - curl -o test/e2e_tests/db/db_doge_testnet https://githubstatic.flare.center/db_doge_testnet
    - curl -o test/e2e_tests/db/db_xrp_testnet https://githubstatic.flare.center/db_xrp_testnet 
    - curl -o test/e2e_tests/db/db_xrp2_testnet https://githubstatic.flare.center/db_xrp2_testnet 
  script:
    - yarn test ci

lint:
  stage: test
  image: node:20.18.1
  before_script:
    - yarn install --frozen-lockfile
  script:
    - yarn lint:check
    - yarn format:check
