x-verifier-service-common: &verifier_service_common
  build: ../../
  restart: unless-stopped
  cpus: 4
  mem_limit: 512m

x-verifier-env: &verifier_env
  VERIFIER_TYPE: web2
  TESTNET: true

services:
  verifier_ignite:
    <<: *verifier_service_common
    container_name: verifier_ignite
    environment:
      <<: *verifier_env
      WEB2_SOURCE_IDS: testIgnite
      IGNITE_API_KEY: ${IGNITE_API_KEY}
    ports:
      - "3002:3100"

  verifier_test:
    <<: *verifier_service_common
    container_name: verifier_test
    environment:
      <<: *verifier_env
      WEB2_SOURCE_IDS: testAPIs
    ports:
      - "3003:3100"