version: "3.8"

x-verifier-service-common: &verifier_service_common
  build: ../../
  restart: unless-stopped
  cpus: 4
  mem_limit: 512m

x-verifier-env: &verifier_env
  VERIFIER_TYPE: web2

services:
  verifier_twitter:
    <<: *verifier_service_common
    container_name: verifier_twitter
    environment:
      <<: *verifier_env
      WEB2_SOURCE_IDS: "Twitter"
      TWITTER_BEARER: ${TWITTER_TOKEN}
    ports:
      - "3001:3100"

  verifier_kalmia:
    <<: *verifier_service_common
    container_name: verifier_kalmia
    environment:
      <<: *verifier_env
      WEB2_SOURCE_IDS: "Kalmia"
      KALMIA_KEY: ${KALMIA_KEY}
    ports:
      - "3002:3100"

  verifier_testnet:
    <<: *verifier_service_common
    container_name: verifier_test
    environment:
      <<: *verifier_env
      IS_TESTNET: true
      WEB2_SOURCE_IDS: "TestAPI"
    ports:
      - "3003:3100"